<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"   href="../static/css/bootstrap.css"/>
    <script th:src="@{/js/jquery.min.js}"  src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.js/}"  src="../static/js/bootstrap.js"></script>
    <title>ALMACEN - SPRING BOOT JAVA 8</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ALMACEN - SPRING BOOT - JAVA 8 - CLIC EN EL BOTON EXPANDIR A LA DERECHA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Almacen</a>
                <a class="nav-link" href="#">Crear Almacen</a>
                <a class="nav-link" href="#">Modificar - Eliminar Almacen</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>